body
{
    color: white;
    background: rgb(0, 255, 213);
}

.heading 
{
    width: 80%;
    font-size: 22px;
}

.name_of_objects
{
    color: purple;
}

#camera
{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}